@{
    ViewData["Title"] = "Graph";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="shilat" style="height: 650px">
    <div class="banner-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content text-center">
                        <span>@*<i class="icon icon-calendar mr-2"></i>*@ADMIN</span>
                        <h2>Monthly Orders Trend</h2>
                        <h3>Total Orders Over Time</h3>
                        <div class="breadcum-items mt-2">
                            @*      <span class="item color-primary" style="font-size: 15px;"><a asp-action="Home">Home /</a></span>
                            <span class="item color-primary" style="font-size: 15px;">Flavors</span>

                            *@
                            <span class="item" style="font-size: 17px;"><a asp-action="OpenPage">Home /</a></span>
                            <span class="item colored" style=" font-size: 17px;">Graph</span>

                        </div>
                        <br />
                        <br />
                        <span class="item colored" style="font-size: 23px;">Fill in start and end dates </span>
                       @* <p>Fill date start and date end</p>*@
                        <form action="ShowGraph" method="get">
                            <input type="date" name="date1" />
                            <input type="date" name="date2" />
                            <input type="submit" value="search" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--site-banner-->
@*<head>
    <link rel="stylesheet" type="text/css" href="~/css/Home.css" />
</head>*@
@*<div class="accordion-item">
				<div class="accordion-header">
					<h4 class="accordion-title">
			<a role="button" data-bs-toggle="collapse" data-bs-target="#target0" class="" aria-expanded="true">Fill date start and date end </a>
					</h4>
				</div>
				<div id="target0" class="accordion-collapse collapse show" aria-expanded="true" >
					<div class="accordion-body"> 
						<div class="target-detail">
				<form action="ShowGraph" method="get">
					<input type="date" name="date1" />
					<input type="date" name="date2" />
					<input type="submit" value="חפש" />
				</form>
						</div>
				</div>
				</div>*@
@*<p>Fill date start and date end</p>
<form action="ShowGraph" method="get">
    <input type="date" name="date1" />
    <input type="date" name="date2" />
    <input type="submit" value="search" />
</form>*@
@*<form>
	<label for="datepicker">Select a Date:</label>
	<input type="date" id="datepicker" name="datepicker">

	<input type="submit" value="Submit">
</form>*@