@{
    ViewData["Title"] = "Graph";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<head>
    <link rel="stylesheet" type="text/css" href="~/css/Home.css" />
</head>*@
@*<div class="accordion-item">
				<div class="accordion-header">
					<h4 class="accordion-title">
			<a role="button" data-bs-toggle="collapse" data-bs-target="#target0" class="" aria-expanded="true">Fill date start and date end </a>
					</h4>
				</div>
				<div id="target0" class="accordion-collapse collapse show" aria-expanded="true" >
					<div class="accordion-body"> 
						<div class="target-detail">
				<form action="ShowGraph" method="get">
					<input type="date" name="date1" />
					<input type="date" name="date2" />
					<input type="submit" value="חפש" />
				</form>
						</div>
				</div>
				</div>*@
<p>Fill date start and date end</p>
<form action="ShowGraph" method="get">
    <input type="date" name="date1" />
    <input type="date" name="date2" />
    <input type="submit" value="search" />
</form>
@*<form>
	<label for="datepicker">Select a Date:</label>
	<input type="date" id="datepicker" name="datepicker">

	<input type="submit" value="Submit">
</form>*@