
@{
    ViewData["Title"] = "OpenPage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>OpenPage</h1>
<li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
