@model WebApplicationIceCreamProject.Models.IceCreamPrediction
@using WebApplicationIceCreamProject.Models
@{
    ViewData["Title"] = "PredictFlavor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="shilat" style="height: 950px">
    <div class="banner-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content text-center">
                        <span>@*<i class="icon icon-calendar mr-2"></i>*@ADMIN</span>
                        <h2>Crack the Flavor Code</h2>
                        <h3>Let Our Prediction Wizard Guide You to Your Ideal Taste Sensation</h3>
                        <div class="breadcum-items mt-2">
                            @*      <span class="item color-primary" style="font-size: 15px;"><a asp-action="Home">Home /</a></span>
                            <span class="item color-primary" style="font-size: 15px;">Flavors</span>

                            *@
                            <span class="item" style="font-size: 17px;"><a asp-action="OpenPage">Home /</a></span>
                            <span class="item colored" style=" font-size: 17px;">Prediction</span>

                        </div>
                        <br />
                        <br />
                        <span class="item colored" style="font-size: 23px;">Fill in prediction data: </span>
                        @* <p>Fill date start and date end</p>*@
                        <form asp-action="PredictFlavor" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="City">City</label>
                                <input asp-for="City" class="form-control"/>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="Season">Season</label>
                                <select asp-for="Season" class="form-control">
                                    <option value="Spring">Spring</option>
                                    <option value="Summer">Summer</option>
                                    <option value="Fall">Fall</option>
                                    <option value="Winter">Winter</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="FeelsLike">Feels Like</label>
                                <input asp-for="FeelsLike" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Humidity">Humidity</label>
                                <input asp-for="Humidity" class="form-control" />
                            </div>
                           
                            <div class="form-group">
                                <label asp-for="Weekday">Day of the week</label>
                                <select asp-for="Weekday" class="form-control">
                                    <option value="Sunday">Sunday</option>
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="Saturday">Saturday</option>
                                </select>
                                <span asp-validation-for="Weekday" class="text-danger"></span>
                            </div>
                            @* <button type="submit" asp-controller="Admin" asp-action="PredictFlavor" method="post"  class="btn btn-primary">Predict Flavor</button>*@
                            <div class="form-group">
                                <input asp-for="PredictedFlavor" type="hidden" value=UnKnown />
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Predict Flavor</button>
                        </form>
                        @if (Model != null)
                        {
                            <div class="form-group">
                                <label>Predicted Flavor:</label>
                                <span>@Model.PredictedFlavor</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--site-banner-->