@model IEnumerable<WebApplicationIceCreamProject.Models.OrdersDate>

@{
    ViewData["Title"] = "ShowGraph";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title>Orders Per Day</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   @* <link rel="stylesheet" type="text/css" href="~/css/Home.css" />
    <meta name="viewport" content="width=device-width" />
    <title>ShowGraphbetweendates</title>
*@
    
</head>
<body style="background-color: pink;">
    <canvas id="orderChart"></canvas>

    <script>
        var dates = @Html.Raw(Json.Serialize(Model.Select(x => x.Day + "/" + x.Month)));
        var orderCounts = @Html.Raw(Json.Serialize(Model.Select(x => x.Counter)));

        var ctx = document.getElementById('orderChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: dates,
                datasets: [{
                    label: 'Number of Orders',
                    data: orderCounts,
                    backgroundColor: '#ce3c83', // Change the fill color here,
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Number of Orders'
                        }
                    }
                }
            }
        });
    </script>
</body>
</html>