
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<div class="site-banner">
	<div class="banner-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">			
					<div class="colored">
						<h1>About Us</h1>
						<div class="breadcum-items">
							<span class="item"><a asp-controller="Home" asp-action="Index">Home /</a></span>
							<span class="item colored">About Us</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--site-banner-->

<section class="chief-detail padding-large">
	<div class="container">
		<div class="row">
				<div class="single-image col-md-6">
					<img src="~/images/ceo.jpg" alt="ceo" class="singleImg">
				</div>
				<div class="col-md-6 p-5 text-center align-self-center">
				<h2 class="section-title text-center mb-3">Mr. John Smith - CEO</h2>
				<p>Mr. John Smith is a Friendly, Hardworker and Good Person.</p>
				</div>
		</div>
	</div>
</section>

<section class="our-team bg-sand padding-large">
	<h2 class="section-title text-center mb-4">Our Team</h2>
	<div class="container">
		<div class="row">

				<div class="col-md-3">

					<div class="team-member text-center">
						
						<figure>
							<a href="#"><img src="~/images/teamsg.jpg" alt="post" class="member-image" width="300" height="200"></a>
						</figure>

						<div class="member-details text-center">
							<h4>Ms Shira Gayer</h4>
							<div class="designation colored">CEO-Founder</div>
							<p></p>
							<div class="social-links color-primary ">
								<a href="#" class="icon icon-facebook pr-10"></a>
								<a href="#" class="icon icon-twitter pr-10"></a>
								<a href="#" class="icon icon-pinterest-p"></a>
							</div>
						</div>

					</div>

				</div><!--col-md-3-->

				<div class="col-md-3 text-center">

					<div class="team-member text-center">
						<figure>
							<img src="~/images/teamL.jpg" alt="post" class="member-image" width="300" height="200">
						</figure>
						<div class="member-details text-center">
							<h4>Ms Lea Drach</h4>
							<div class="designation colored">General Manager</div>
							<p></p>
							<div class="social-links color-primary">
								<a href="#" class="icon icon-facebook pr-10"></a>
								<a href="#" class="icon icon-twitter pr-10"></a>
								<a href="#" class="icon icon-pinterest-p"></a>
							</div>
						</div><!--text-content-->
					</div>

				</div><!--col-md-3-->

				<div class="col-md-3 text-center">

					<div class="team-member text-center">
						<figure>
							<img src="~/images/teamS.jpg" alt="post" class="member-image" width="300" height="200">
						</figure>
						<div class="member-details text-center">
							<h4>Ms Shilat Sharon</h4>
							<div class="designation colored">Assistant Manager</div>
							<p></p>
							<div class="social-links color-primary">
								<a href="#" class="icon icon-facebook pr-10"></a>
								<a href="#" class="icon icon-twitter pr-10"></a>
								<a href="#" class="icon icon-pinterest-p"></a>
							</div>
						</div><!--text-content-->
					</div>

				</div><!--col-md-3-->

				<div class="col-md-3 text-center">

					<div class="team-member text-center">
						<figure>
							<img src="~/images/team3.jpg" alt="post" class="member-image" width="300" height="200">
						</figure>
						<div class="member-details text-center">
							<h4>Mrs Lora Inn</h4>
							<div class="designation colored">Staff</div>
							<p></p>
							<div class="social-links color-primary">
								<a href="#" class="icon icon-facebook pr-10"></a>
								<a href="#" class="icon icon-twitter pr-10"></a>
								<a href="#" class="icon icon-pinterest-p"></a>
							</div>
						</div>
					</div>

				</div>

		</div>
	</div>
</section>

<section class="our-targets padding-large">
	<div class="container">
		<h2 class="section-title text-center mb-5">Our Story</h2>
		<div class="row">
			<p>At Ice Cream Shop, we are dedicated to bringing joy to your taste buds with our delectable and creamy creations. Established in 2000, our passion for crafting the finest ice cream has been our driving force. With a commitment to using only the freshest and highest-quality ingredients, our ice creams are a delightful fusion of flavors that will transport you to a world of sweetness.</p>
			<img src="~/images/ice.jpg" alt="flower" style="width: 100%;">

			<div class="accordion accordion-flush mt-3" id="target-accordion">
			<div class="accordion-item">
				<div class="accordion-header">
					<h4 class="accordion-title">
						<a role="button" data-bs-toggle="collapse" data-bs-target="#target0" class="" aria-expanded="true">Quick Service - </a>
					</h4>
				</div>
				<div id="target0" class="accordion-collapse collapse show" aria-expanded="true" >
					<div class="accordion-body"> 
						<div class="target-detail">
							<p> Our primary goal is to provide quick and efficient service to our customers. We understand that everyone loves ice cream, and we want to make sure you get your favorite flavors without unnecessary delays. We aim to have your order ready with a smile in a matter of minutes, ensuring that you can enjoy your sweet treat without waiting.</p>
						</div>
				</div>
				</div>
			</div><!--panel-->

			<div class="accordion-item">
				<div class="accordion-header">
					<h4 class="accordion-title">
						<a role="button" data-bs-toggle="collapse" data-bs-target="#target1" class="" aria-expanded="true">Community Engagement - </a>
					</h4>
				</div>
				<div id="target1" class="accordion-collapse collapse" aria-expanded="true" >
					<div class="accordion-body"> 
						<div class="target-detail">
							<p> We aspire to be an active and engaged member of our local community. Our goal is to participate in community events, support local causes, and create a welcoming environment where families, friends, and neighbors can come together to enjoy ice cream and create lasting memories. We believe in giving back to the community that supports us and making a positive impact beyond our shop's doors.</p>
						</div>
				</div>
				</div>
			</div><!--panel-->

			<div class="accordion-item">
				<div class="accordion-header">
					<h4 class="accordion-title">
						<a role="button" data-bs-toggle="collapse" data-bs-target="#target2" class="" aria-expanded="true">Exceptional Flavor Variety - </a>
					</h4>
				</div>
				<div id="target2" class="accordion-collapse collapse" aria-expanded="true" >
					<div class="accordion-body"> 
						<div class="target-detail">
							<p> We are committed to offering an extensive variety of ice cream flavors that cater to a wide range of tastes. Our objective is to regularly introduce new and exciting flavors alongside beloved classics, so there's always something new to discover. From traditional options to dairy-free and sugar-free alternatives, we want to satisfy every ice cream craving.</p>
						</div>
				</div>
				</div>
			</div><!--panel-->

		</div><!--panel-group-->

		</div>
	</div>
</section>

<!--<section class="our-achivement bg-sand padding-large">
	<div class="container">
			<h2 class="section-title text-center mb-5">Our Best Moments</h2>

		<div class="row">

			<div class="achivement-block text-center col-md-4">
				<img src="images/badge.png" alt="badge">
				<div class="mt-3">
					<h3>Bakery of the Month</h3>
					<span class="date">2018 - 2020</span>
					<p>Bakery is a free HTML CSS Template by Templates Jungle specially crafted for Bakeries.</p>
				</div>
			</div>--><!--achivement-block-->
			<!--<div class="achivement-block text-center col-md-4">
				<img src="images/badge1.png" alt="badge">
				<div class="mt-3">
					<h3>Bakery of the Month</h3>
					<span class="date">2018 - 2020</span>
					<p>Bakery is a free HTML CSS Template by Templates Jungle specially crafted for Bakeries.</p>
				</div>
			</div>--><!--achivement-block-->
			<!--<div class="achivement-block text-center col-md-4">
				<img src="images/badge2.png" alt="badge">
				<div class="mt-3">
					<h3>Bakery of the Month</h3>
					<span class="date">2018 - 2020</span>
					<p>Bakery is a free HTML CSS Template by Templates Jungle specially crafted for Bakeries.</p>
				</div>
			</div>--><!--achivement-block-->

		<!--</div>
	</div>
</section>-->

