
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<div class="site-banner">
	<div class="banner-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">			
					<div class="colored">
						<h1>Shop</h1>
						<div class="breadcum-items">
							<span class="item"><a href="index.html">Home /</a></span>
							<span class="item colored">Shop</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--site-banner-->

<section class="our-team bg-sand padding-large">
	<div class="container">
		<div class="row">

				<div class="product-item col-md-3 pb-4">
					<a href="single-product.html" class="product-image"><img src="images/a.png"></a>
					<div class="text-comtent text-center">
						<h5 class="pt-4"><a href="single-product.html">OREO</a></h5>
						<p>ICE CREAM FLAVOR</p>
						<span class="price colored">$10</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a href="single-product.html" class="product-image"><img src="images/b.png"></a>
					<div class="text-comtent text-center">
						<h5 class="pt-4"><a href="single-product.html">CHOCOLATE & SEA SALT</a></h5>
						<p>ICE CREAM FLAVOR</p>
						<span class="price colored">$10</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a href="single-product.html" class="product-image"><img src="images/c.png"></a>
					<div class="text-comtent text-center">
						<h5 class="pt-4"><a href="single-product.html">VANILLA STRABERRY</a></h5>
						<p>ICE CREAM FLAVOR</p>
						<span class="price colored">$10</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a href="single-product.html" class="product-image"><img src="images/d.png"></a>
				    <div class="text-comtent text-center">
						<h5 class="pt-4"><a href="single-product.html">CHERRY CHEESECAKE</a></h5>
						<p>ICE CREAM FLAVOR</p>
						<span class="price colored">$10</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a href="single-product.html" class="product-image"><img src="images/e.png"></a>
				    <div class="text-comtent text-center">
						<h5 class="pt-4"><a href="single-product.html">PITACHIO</a></h5>
						<p>ICE CREAM FLAVOR</p>
						<span class="price colored">$10</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a href="single-product.html" class="product-image"><img src="images/f.png"></a>
					<div class="text-comtent text-center">
						<h5 class="pt-4"><a href="single-product.html">HAZELNUT & COOKIES</a></h5>
						<p>ICE CREAM FLAVOR</p>
						<span class="price colored">$10</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a href="single-product.html" class="product-image"><img src="images/g.png"></a>
					<div class="text-comtent text-center">
						<h5 class="pt-4"><a href="single-product.html">SALTED CARAMEL SOY</a></h5>
						<p>DAIRY FREE FLAVOR</p>
						<span class="price colored">$8</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a href="single-product.html" class="product-image"><img src="images/h.png"></a>
					<div class="text-comtent text-center">
						<h5 class="pt-4"><a href="single-product.html">BRAMBLEBERRY SORBET</a></h5>
						<p>DAIRY FREE FLAVOR</p>
						<span class="price colored">$8</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a href="single-product.html" class="product-image"><img src="images/i.png"></a>
				    <div class="text-comtent text-center">
						<h5 class="pt-4"><a href="single-product.html">BANANA & HONEY</a></h5>
						<p>DAIRY FREE FLAVOR</p>
						<span class="price colored">$8</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a href="single-product.html" class="product-image"><img src="images/j.png"></a>
				    <div class="text-comtent text-center">
						<h5 class="pt-4"><a href="single-product.html">RASPBERRY SORBET</a></h5>
						<p>DAIRY FREE FLAVOR</p>
						<span class="price colored">$8</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a href="single-product.html" class="product-image"><img src="images/k.png"></a>
				    <div class="text-comtent text-center">
						<h5 class="pt-4"><a href="single-product.html">STRAWBERRY & COCONUT</a></h5>
						<p>DAIRY FREE FLAVOR</p>
						<span class="price colored">$8</span>
					</div>
				</div>
				<div class="product-item col-md-3 pb-4">
					<a href="single-product.html" class="product-image"><img src="images/l.png"></a>
				    <div class="text-comtent text-center">
						<h5 class="pt-4"><a href="single-product.html">LIME SORBET</a></h5>
						<p>DAIRY FREE FLAVOR</p>
						<span class="price colored">$8</span>
					</div>
				</div>

		</div>
	</div>
</section>

